body {
    background: rgb(98,39,116);
    background: linear-gradient(90deg, rgba(98,39,116,1) 0%, rgba(197,51,100,1) 100%);
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 0.9rem;
}
@media screen and (max-device-width : 600px) {
    body {
        font-size: 0.7em;
    }
}
h1, h2 {
    margin: 0;
}
h1 {
    font-size: 2.8em;
    font-weight: bold;
    line-height: 48px;
}
h2 {
    margin-top: 15px;
    font-size: 1.3em;
    font-weight: normal;
}
p {
    color: #505050;
    font-size: 1em;
    line-height: 1.3em;
}
.text-small {
    font-size: 0.9em;
}
.text-muted {
    color: #8E8E93;
}
.text-white {
    color: white;
}
a {
    color: rgba(197,51,100,1);
    text-decoration: none;
    transition: color 300ms ease;
}
a:hover{
    text-decoration: underline;
    color: rgba(98,39,116,1);
}

.container {
    max-width: 600px;
    margin: 50px auto 0;
    text-align: center;
}

.panel {
    background: white;
    position: relative;
    top: -71px;
    padding: 100px 0 20px;
    border-radius: 10px;
}
@media screen and (max-device-width : 600px) {
    .panel {
        border-radius: 0px;
    }
}

.inner {
    max-width: 450px;
    margin: 0 auto;
    padding: 0 50px;
}

svg {
    margin: 50px 0 0;
    height: 256px;
    width: 256px;
    position: relative;
    z-index: 99;
}

.colour-container {
    margin-top: 20px;
    display: inline-block;
}

.colour-container:first-of-type {
    margin-right: 20px;
}
@media screen and (max-device-width : 600px) {
    .colour-container:first-of-type {
        margin-right: 0px;
    }
}
.colour-container p {
    margin: 5px 0;
}

.color-picker-wrapper.color-picker-swatch-only .input-group .input-group-addon {
    height: 100px;
    width: 100px;
    border: none;
}

.submit {
    text-align: center;
    display: block;
    cursor: pointer;
    transition: box-shadow 300ms ease, background 300ms ease;;
    background: #BF3265;
    color: white;
    width: 150px;
    height: 50px;
    font-size: 1.3em;;
    font-weight: normal;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.15);
    border: none;
}

.submit:hover {
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.3);
    background: rgba(98,39,116,1);
}

.submit:disabled {
    cursor: initial;
    background: rgba(98,39,116,1);
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.15);
}

.submit:focus {
    outline: none;
}

.margin-bot-sm {
    margin-bottom: 10px;
}

.loader-small div {
    width: 10px;
    height: 10px;
}

.arrow {
    border-bottom: 8px solid #fff;
    border-right: 8px solid #fff;
    width: 20px;
    height: 20px;
    transform: rotate(-45deg);
    border-radius: 5px;
    position: relative;
    margin: 0 auto 20px;
}
.arrow-right {
    transform: rotate(-45deg);
    left: -5px;
}
.arrow-left {
    transform: rotate(135deg);    
}
.options {
    top: 300px;
    width: 600px;
    position: absolute;
    height: 100px;
}
.option {
    border: none;
    width: 100px;
    font-size: 1.2em;
    background: none;
    cursor: pointer;
}
.option:active, .option:focus {
    outline: none;
}
.option:disabled {
    opacity: 0.5;
}
.option-left {
    position: absolute;
    left: 0;
    top: 0;
}
.option-right {
    position: absolute;
    right: 0;
    top: 0;
}
@media screen and (max-device-width : 600px) {
    .options {
        display: none;
    }
}