body {
    background: rgb(98,39,116);
    background: linear-gradient(90deg, rgba(98,39,116,1) 0%, rgba(197,51,100,1) 100%);
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 0.9rem;
}
h1, h2 {
    margin: 0;
}
h1 {
    font-size: 44px;
    font-weight: bold;
    line-height: 48px;
}
h2 {
    margin-top: 15px;
    font-size: 21px;
    font-weight: normal;
}
p {
    color: #505050;
    font-size: 1em;
    line-height: 1.3em;
}
p.text-small {
    font-size: 0.9em;
}
p.text-muted {
    color: #8E8E93;
}
a {
    color: rgba(197,51,100,1);
    text-decoration: none;
    transition: color 300ms ease;
}
a:hover{
    text-decoration: underline;
    color: rgba(98,39,116,1);
}

.container {
    width: 600px;
    height: 0px;
    margin: 50px auto 0;
    text-align: center;
}

.panel {
    background: white;
    position: relative;
    top: -71px;
    padding: 100px 0 20px;
    border-radius: 10px 10px 0 0;
}

.inner {
    max-width: 450px;
    margin: 0 auto;
}

svg {
    margin: 50px 0 0;
    height: 256px;
    width: 256px;
    position: relative;
    z-index: 99;
}

.colour-container {
    margin-top: 20px;
    display: inline-block;
}

.colour-container:first-of-type {
    margin-right: 20px;
}

.colour-container p {
    margin: 5px 0;
}

input {
    outline: none;
    border: none;
    width: 100px;
    height: 100px;
    padding: 0px;
    cursor: pointer;
}
input::-webkit-color-swatch, input ::-moz-color-swatch {
    border: none;
    box-shadow: none;
    outline: none;
}

.submit {
    text-align: center;
    display: block;
    cursor: pointer;
    transition: box-shadow 300ms ease, background 300ms ease;;
    background: #BF3265;
    color: white;
    width: 150px;
    height: 50px;
    font-size: 1.3em;;
    font-weight: normal;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.15);
}

.submit:hover {
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.3);
    background: rgba(98,39,116,1);
}

.submit:disabled {
    cursor: initial;
    background: rgba(98,39,116,1);
}

.margin-bot-sm {
    margin-bottom: 10px;
}